.schedule-calendar__header {
    padding: 5px;
    border-bottom: 1px solid white;

    h1 {
        font-size: 1.5rem;
        line-height: 1;
    }
}

.schedule-calendar__main {
    padding: 5px;
    position: relative;

    h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin: 0.5rem;
    }
}